.terceito-h {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--cor-titulos-gerais);
    font-size: 20px;
}

.lista-preparo {
    list-style: none; 
    padding: 1rem 0 0 0.4rem;
}

.lista-preparo-itens {
    counter-increment: item; 
    font-family: var(--fonte-primaria);
    font-size: 12px;
    padding-bottom: 0.5rem; 
    position: relative;
    padding-left: 1.2rem;
    line-height: 1.2rem;
}

.lista-preparo-itens::before {
    content: counter(item) ". ";  
    color: var(--cor-titulos-gerais);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 0; 
}

.lista-preparo-negrito {
    font-weight: 600;
}