.lista-tempo-background {
    background-color: var( --cor-background-tempo);
    border-radius: 0.7rem;
    padding: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.primeirp-h {
    font-family: var(--fonte-primaria);
    font-size: 15px;
    color: var(--cor-titulo-tempo);
    font-weight: 700;
}

.lista-tempo {
    list-style: none; 
    padding-left: 0.5rem;
}

.lista-tempo-itens {
    font-family: var(--fonte-primaria);
    font-size: 12px;
    display: flex;
    align-items: center; 
    margin-top: 0.8rem;
    position: relative;
}

.lista-tempo-itens::before {
    content: '•'; 
    color: var(--cor-titulo-tempo);
    font-size: 15px;
    padding-right: 1rem;
}

.lista-tempo-itens strong::after {
    content: '';
    margin-left: 0.2rem; 
}

.lista-tempo-negrito {
    font-weight: 600;
}